/* 관리자 헤더 */
* {
  margin: 0;
  padding: 0;
}

.mng-body{
  height: 100vh;
  width: 100%;
  /* background-color: red; */
}

.mng-header {
  height: 10vh;
  width: 100%;
  background-color: black;
  /* border: 3px solid black; */
}
.mng-nav{
  height: 100%;
  width: 100%;
  display: flex;
}
.mng-nav-containner{
  display: flex;
}
.mng-logo-contents{
  list-style-type: none;
  display: flex;
}
.mng-logo{
  font-family: "Metal Mania";
  font-weight: bold;
  margin: auto 50px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.mng-header-drop{
  background-color: darkblue;
  display: none;
  position: absolute;
  border-radius: 8px;
  height: 100px;
  width: 160px;
  /* margin-top: 1px; */
}
#mng-header-dropDown1{
  border-bottom: solid 1px black;
  /* line-height: 50px;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold; */
}
#mng-lic:hover .mng-header-drop{
  display: block;
}

.mng-logo-contents{
  /* margin-left: 30px; */
  text-align: center;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
#mng-party{
  width: 160px;
  height: 50px;
  margin: auto;
  margin-right: 40px;
}
#mng-lip, #mng-lic {
  line-height: 50px;
  background-color: #2c2c2c;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
}
.mng-join-box{
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 20px;
  justify-content: right;
  align-items: center;
  padding-right: 50px;
}
.mng-join-logout{
  font-weight: bold;
}

/*메인 시작 */
.mng-main > div {
  text-align: center;
}
.mng-main {
  height: 60vh;
  padding: 10%;
}

.mng-box-header {
  /* background-color: cadetblue; */
}

.mng-title {
  text-align: center;
}

.mng-search-bar {
  display: flex;
  justify-content: right;
}

.icon-down-open{
  height: 29px;
  background-color: silver;
  border-style: none;
}

.icon-down-open:hover{
/* background-color: blue; */
}
.mng-search-dropDown{
  /* background-color: beige; */
}
.mng-dropDown-text{
  list-style-type: none;
  /* display: none; */
  position: absolute;
}
.mng-dropDown-text{
  margin-top: 0px;
  margin-left: -50px;
  background-color: beige;
  width: 70px;
}
.icon-down-open{
  position: absolute;
  margin-left: -20px;
}
.icon-down-open:hover .mng-dropDown-text{
  display: block;
}
.mng-title{
  font-size: 30px;
  font-weight: bold;
}
#mng-button{
  font-size: 12px;
  font-weight: bold;
  width: 70px;
  height: 25px;
  margin: 5px 5px;
  border: 0;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
#mng-search-btn{
  border: 0;
  background-color: silver;
  cursor: pointer;
}
#mng-search-text{
  height: 25px;
  margin: 2px 3px;
  border: 0;
  background-color: silver;
}



/* 선택 ~ 회원 생성 시간*/
.mng-box-main {
  /* background-color: yellow; */
  /* border: 2px solid red; */
}

.mng-board-header {
  /* background-color: yellow; */
  display: flex;
  border-style: solid;
  border-width: 1px 0;
  text-align: center;
}
#mng-textCh{
  width: 5%;
}
#mng-textUs{
  width: 22%;
}
#mng-textNi{
  width: 25%;
}
#mng-textRa{
  width: 10%;
}
#mng-textPh{
  width: 18%;
}
#mng-textTi{
  width: 20%;
}


.mng-main-board{
  display: flex;
  /* border-style: solid; */
  border-bottom: solid 1px black;
  text-align: center;
}
/* 체크박스 크기 */
#mng-checkbox{
  width: 5%;
  height: 15px;
  position: relative;
  top: 3px;
}
#mng-boardNu{
  width: 22%;
}
#mng-boardNi{
  width: 25%;
}
#mng-boardRa{
  width: 10%;
}
#mng-boardPh{
  width: 18%;
}
#mng-boardTi{
  width: 20%;
}
/* .mng-main-boardInput{
  display: flex;
  border-bottom: solid 1px black;
}
.mng-main-boardin{
  
}
#mng-boardNuin{
  width: 22%;
}
#mng-boardNiin{
  width: 25%;
}
#mng-boardRain{
  width: 10%;
}
#mng-boardPhin{
  width: 18%;
}
#mng-boardTiin{
  width: 20%;
} */


/* 메인 푸터 시작*/

.mng-box-footer{
  /* background-color: brown; */
  display: flex;
  justify-content: center;
}
.icon-trash{
  /* background-color: blueviolet; */
  width: 5%;
  text-align: center;
  border-style: none;
  background-color: white;
  cursor: pointer;
}
.mng-pagenation{
  width: 85%;
  display: flex;
  justify-content: center;
}
.mng-pagenation > i, p {
  cursor: pointer;
  padding: 10px;
}
.mng-pagenation>p{
  /* display: flex; */
  
}

#mng-totalusers{
  width: 10%;
  text-align: right;
}





.mng-footer {
  height: 10vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  font-size: 14px;
}
.mng-footer-text{
  padding-bottom: 10px;
  color: white;
  justify-items: center;
}
.mng-footer-text span{
  margin: 0px 20px;
  cursor: pointer;
}

