/* 관리자 헤더 */
* {
  margin: 0;
  padding: 0;
}

.mng-body{
  height: 100vh;
  width: 100%;
  /* background-color: red; */
}

.mng-header {
  height: 10vh;
  width: 100%;
  background-color: black;
  /* border: 3px solid black; */
}
.mng-nav{
  height: 100%;
  width: 100%;
  display: flex;
}
.mng-nav-containner{
  display: flex;
}
.mng-logo-contents{
  list-style-type: none;
  display: flex;
}
.mng-logo{
  font-family: "Metal Mania";
  font-weight: bold;
  margin: auto 50px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.mng-header-drop{
  background-color: darkblue;
  display: none;
  position: absolute;
  border-radius: 8px;
  height: 100px;
  width: 160px;
  /* margin-top: 1px; */
}
#mng-header-dropDown1{
  border-bottom: solid 1px black;
  /* line-height: 50px;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold; */
}
#mng-lic:hover .mng-header-drop{
  display: block;
}

.mng-logo-contents{
  /* margin-left: 30px; */
  text-align: center;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
#mng-party{
  width: 160px;
  height: 50px;
  margin: auto;
  margin-right: 40px;
}
#mng-lip, #mng-lic {
  line-height: 50px;
  background-color: #2c2c2c;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
}
.mng-join-box{
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 20px;
  justify-content: right;
  align-items: center;
  padding-right: 50px;
}
.mng-join-logout{
  font-weight: bold;
}

/*메인 시작 */
.mng-main > div {
  text-align: center;
}
.mng-main {
  height: 60vh;
  padding: 10%;
}

.mng-box-header {
  /* background-color: cadetblue; */
}

.mng-title {
  text-align: center;
}

.mng-search-bar {
  display: flex;
  justify-content: right;
}

.mng-search-box{
  /* display: flex; */
  background-color: silver;
  height: 25px;
  border-radius: 10px;
  margin: 5px 0;
}

.icon-search{
  color: gray
}

#mng-search-text{
  border: 0;
  background-color: silver;
  outline:none;
}
/* 드롭다운 */
.icon-down-dir{
 color: gray;
}
.mng-dropDown-text{
  list-style-type: none;
  display: none;
  position: absolute;
}
.mng-dropDown-text{
  margin-top: 3px;
  margin-left: 115px;
  background-color: beige;
  width: 100px;
}
/* .icon-down-dir{
  position: absolute;
  margin-left: -20px;
} */
.icon-down-dir:hover .mng-dropDown-text{
  display: block;
}
.mng-title{
  font-size: 30px;
  font-weight: bold;
}
#mng-button{
  font-size: 12px;
  font-weight: bold;
  width: 70px;
  height: 25px;
  margin: 5px 5px;
  border: 0;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
#mng-search-btn{
  border: 0;
  background-color: silver;
  cursor: pointer;
}



.mng-title{
  margin-bottom: 30px;
  font-family: "Noto Sans KR ExtraBold";
}


.mng-list-main { /* 리스트들의 제목, 작성자, 카테고리 등 하나의 레이아웃 */
  margin: 5px 0px; /* 위, 이래 여백 */
  padding: 0px 10px; /* 양 옆 안쪽 여백 */
  display: flex; /* 가로배치 하기 위해 flex */
  flex-direction: row; /* 가로배치 지정 */
}
.mng-list-main > div > p { /* 글자들 속성 */
  font-family: "Noto Sans KR Medium"; /* 글꼴 지정 */
}
.mng-main > div{ /* 각 글자들을 가운데로 보내기 위함 */
  text-align: center;/* 가운데 */
}
.mng-main-list-check{ /* 선택을 왼쪽으로 밀착 */
  margin-left: 0px;
}
.mng-main-list-userNum{ /* 유저번호를 일정 간격만큼 두기 */
  position: absolute;
  left: 20%;
  transform: translate(-20%);
}
.mng-main-list-nickname{ /* 가운데(커뮤니티와 같은 위치임) */
  position: absolute;
  left: 38%;
  transform: translate(-50%);
}
.mng-main-list-tier{
  position: absolute;
  left: 50%;
  /* transform: translate(-40%); */
}
.mng-main-list-phone{
  position: absolute;
  left: 60%;
}
.mng-main-list-write-time{ /* 제일 오른쪽으로 밀착 */
  margin-left: auto;
}
.mng-list{ /* 목록들 */
  margin-top: 5px;
  width: 100%;
  position: relative;
}
.mng-list-item > div{ /* 각 목록들의 요소들을 가운데로 지정 */
  padding: 0px 10px;
  text-align: center;
  box-sizing: border-box;
}
.mng-list-writer{ /* 글꼴 지정겸 작성자와 같은 위치로 지정 */
  font-family: "Noto Sans KR Medium";
  margin-left: 0;
}
.mng-list-category{ /* 글꼴 지정겸 카테고리와 같은 위치로 지정 */
  font-family: "Noto Sans KR Medium";
  position: absolute;
  left: 20%;
  transform: translate(-20%);
}
.mng-list-title{ /* 글꼴 지정겸 제목과 같은 위치 지정 */
  font-family: "Noto Sans KR ExtraBold";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.mng-list-write-time{ /* 글꼴 지정겸 시간과 같은 위치 지정 */
  font-family: "Noto Sans KR Medium";
  margin-left: auto;
}
.mng-list-item{ /* 작성자, 카테고리, 제목 등 내용들이 li의 자식들 */
  list-style-type: none; /* li의 점 제거 */
  display: flex; /* 각 li들의 자식을 가로로 배치 */
  cursor: pointer;
}
.mng-list-item-line{ /* 게시글 목록들을 한눈에 나누기 위해 경계선 지정 */
  margin: 5px 0px;
  color: black  ;
}

.mng-page-number-container{
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  text-align: center;
}
.mng-page-number-button > i{
  font-size: 20px;
  margin: 0px;
  font-weight: bold;
  cursor: pointer;
}
.mng-page-numbers{
  display: flex;
}
.mng-page-numbers > p{
  margin: 0px 10px;
  line-height: 30px;
  cursor: pointer;
  font-family: "Noto Sans KR Medium";
}
.mng-page-number-button{
  text-align: center;
  display: flex;
}
.mng-page-numbers-selector{
  color: black;
}
.mng-page-numbers-unSelector{
  color: rgb(158, 158, 158);
}





/* 체크박스 크기 */
#mng-checkbox{
  width: 5%;
  height: 15px;
  position: relative;
  top: 3px;
}

/* 메인 푸터 시작*/

.mng-box-footer{
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  
}
.icon-trash{
  /* background-color: blueviolet; */
  width: 5%;
  text-align: center;
  border-style: none;
  background-color: white;
  cursor: pointer;
}
.mng-pagenation{
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.mng-pagenation > i, p {
  cursor: pointer;
  padding: 10px;
}


#mng-totalcount{
  width: 95%;
  text-align: right;
}





.mng-footer {
  height: 10vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  font-size: 14px;
}
.mng-footer-text{
  padding-bottom: 10px;
  color: white;
  justify-items: center;
}
.mng-footer-text span{
  margin: 0px 20px;
  cursor: pointer;
}

